# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
.env
.venv/
.env.*
.ipynb_checkpoints/

# R
.Rhistory
.Rproj.user/

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz

# Stata
*.smcl
*.log

# Node
node_modules/

# Build & artifacts
dist/
build/
*.egg-info/

# Data & secrets (use with care)
*.sqlite
*.db
*.key
*.pem
*.p12
*.crt
*.env
